html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #111311;
}

body::-webkit-scrollbar-thumb {
  background: #343934;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #464d45;
}
